{{!
  This file is part of eAbyas
  Copyright eAbyas Info Solutons Pvt Ltd, India
 
  This courselister is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.
 
  This courselister is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this courselister.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_courselister/main

    This template renders the main content area for the course list block.

    Example context (json):
    {
        "courses": [
          {
            "courseid": "1",
            "url": "http://foo",
            "title": "Course 1",
            "description": "<h3>foo</h3>",
            "coursetype": "E-Learning",
            "iconurl": "https://img.icons8.com/material/24/000000/remote-control.png",
            "iconalt": "foo",
            "imageurl": "https://bit.ly/2zE99tZ",
            "vendorname": "ACME inc.",
            "duration": "25 min.",
            "modules": "5",
            "completebefore": "25 Jan 2021"
          },
          {
            "courseid": "2",
            "url": "http://foo",
            "title": "Course 2",
            "description": "<h3>foo</h3>",
            "coursetype": "E-Learning",
            "iconurl": "https://img.icons8.com/material/24/000000/remote-control.png",
            "iconalt": "foo",
            "imageurl": "https://bit.ly/2zE99tZ",
            "vendorname": "ACME inc.",
            "duration": "25 min.",
            "modules": "5",
            "completebefore": "25 Jan 2021"
          },
          {
            "courseid": "3",
            "url": "http://foo",
            "title": "Course 3",
            "description": "<h3>foo</h3>",
            "coursetype": "E-Learning",
            "iconurl": "https://img.icons8.com/material/24/000000/remote-control.png",
            "iconalt": "foo",
            "imageurl": "https://bit.ly/2zE99tZ",
            "vendorname": "ACME inc.",
            "duration": "25 min.",
            "modules": "5",
            "completebefore": "25 Jan 2021"
          }
        ]
    }

}}

<div class="block_courselister_main">
    <div class="readymainContainer clearfix">
    {{# courses }}
        <div id="course-{{courseid}}" class="col-md-4 col-12 readyCContainer pull-left catcourses_list active  crse-{{coursenums}}">
            <div class="col-12 pull-left course_container readycourse_container">
                <div class="courseimg_container col-12 p-0">
                    <div style="background-image: url('{{{imageurl}}}');" alt="elearning" class="courseimg courseimg_bg"></div>
                    <span class="{{^iconurl}}novisible{{/iconurl}} crse-icon crse-icon-course-type" style="background-image: url({{ iconurl }})"></span>
                    <span class="{{^coursetype}}novisible{{/coursetype}}crse-s-type crse-s-type">{{ coursetype }}</span>
                </div>
                <div class="readyCCnt coursecontent col-12 pull-left">
                    <div class="d-block w-full mt-2">
                        <p class="course_name m-y-1"><a class="d-block" href="{{ url }}"title="{{ title }}">{{ title }}</a></p>
                    </div>
                    <div class="w-full pull-left">
                        <div class="coursedesc w-full pull-left">
                            {{# description }}
                                <div class="desc" title = "Course Descripton" >{{{ description }}}</div>
                            {{/ description }}
                            {{^ description }}
                                <p class="alert alert-info text-center mt-1">{{#str}}nocoursedesc, theme_versatile{{/str}}</p>
                            {{/ description }}
                        </div>
                    </div>
                </div>
                <div class="cat_btmContainer col-12 mb-2 pt-2  pull-left">
                    <div class="w-full pull-left cat_btm">
                        {{#duration }}
                            <div class="col-lg-7 col-12 p-0 pull-left mb-2">
                                <span class="text-muted pull-left catbtm_colon"><i class="fa fa-clock-o"></i>{{# str }} duration, block_courselister {{/ str }} <span class="colon_align">:</span> </span><span class="catbtm_info" title="{{catname}}">{{ duration }}</span>
                            </div>
                        {{/duration }}
                        {{#modules }}
                            <div class="col-lg-5 col-12 p-0 pull-left mb-2">
                                <span class="text-muted lable_align"><i class="fa fa-window-restore"></i>{{# str }} managemodules, block_courselister {{/ str }} 
                                    <span class="colon_align">:</span> </span>
                                <span class="catbtm_info">{{ modules }}</span>
                            </div>
                        {{/modules }}
                    </div>
                    <div class="crse-s-meta row-fluid {{^completebefore}}novisible{{/completebefore}}">
                        <i class="fa fa-calendar"></i> {{# str }} completebefore, block_courselister {{/ str }}: {{completebefore}}
                    </div>
                </div>
            </div>
        </div>
    {{/courses}}
    </div>
</div>
